beautifulsoup4==4.11.2
bottle==0.12.23
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cssselect2==0.7.0
docutils==0.19
fonttools==4.38.0
html5lib==1.1
idna==3.4
Kivy==2.1.0
kivy-garden.graph @ https://github.com/kivy-garden/graph/archive/master.zip
kivymd==1.1.1
Pillow==9.4.0
proxy-tools==0.1.0
pycparser==2.21
pydyf==0.5.0
Pygments==2.14.0
pyphen==0.13.2
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
tinycss2==1.2.1
urllib3==1.26.14
weasyprint==57.2
webencodings==0.5.1
zopfli==0.2.2
